PUID=1000
PGID=1000
TZ=UTC
NEXTCLOUD_PATH=/local/folder/path
NEXTCLOUD_MARIADB_ROOT_PASSWORD=mySecretRootPassword
NEXTCLOUD_MARIADB_PASSWORD=mySecretPassword
CLOUDFLARED_TUNNEL_TOKEN=ReplaceWithZeroTrustTunnelToken
WATCHTOWER_CLEANUP="true"
WATCHTOWER_LABEL_ENABLE="true"